## Ejercicio 00

In [244]:
import pandas as pd
df = pd.read_csv('../data/real_estate.csv', sep=';')

df.head()

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN

## Ejercicio 01

In [245]:

casa_mas_cara = df.loc[df['price'].idxmax()]
address = casa_mas_cara['realEstate_name']
price = casa_mas_cara['price']

print(f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €')

La casa más cara se encuentra en la dirección: engel volkers torrelodones y su precio es 8500000 €

## Ejercicio 02

In [246]:
casa_mas_barata = df.loc[df['price'].idxmin()]
address = casa_mas_barata['realEstate_name']
price = casa_mas_barata['price']

print(f'La casa más barata se encuentra en la dirección: {address} y su precio es {price} €')

La casa más barata se encuentra en la dirección: esalje y su precio es 0 €

## Ejercicio 03

In [248]:
casa_mas_grande = df.loc[df['surface'].idxmax()]
address = casa_mas_grande['realEstate_name']
surface = casa_mas_grande['surface']

print(f'La casa más grande se encuentra en la dirección: {address} y su superficie es {surface} m2')

La casa más grande se encuentra en la dirección: habitarium inmobiliaria y su superficie es 249000.0 m2

## Ejercicio 04

In [249]:
casa_mas_pequena = df.loc[df['surface'].idxmin()]
address = casa_mas_pequena['realEstate_name']
surface = casa_mas_pequena['surface']

print(f'La casa más pequeña se encuentra en la dirección: {address} y su superficie es {surface} m2')

La casa más pequeña se encuentra en la dirección: toledo21 y su superficie es 15.0 m2

## Ejercicio 05.

In [250]:

filas_con_na = df.isna().any(axis=1)
print("Filas con NAs:")
print(filas_con_na)

columnas_con_na = df.isna().any()
print("\nColumnas con NAs:")
print(columnas_con_na)

Filas con NAs:
0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

Columnas con NAs:
Unnamed: 0          False
id_realEstates      False
isNew               False
realEstate_name      True
phone_realEstate     True
url_inmueble        False
rooms                True
bathrooms            True
surface              True
price               False
date                False
description          True
address             False
country             False
level1              False
level2              False
level3              False
level4               True
level5              False
level6               True
level7               True
level8               True
upperLevel          False
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy            False
latitude            False
longitude           False
zipCode              True
customZone           True
dtype: bool

## Ejercicio 06.

## Ejercicio 07

In [251]:

poblaciones = df['level5Id'].unique()
print("Poblaciones únicas:", poblaciones)
total_poblaciones = len(poblaciones)
print("Total de poblaciones:", total_poblaciones)

Poblaciones únicas: [0]
Total de poblaciones: 1

## Ejercicio 08

In [252]:


arroyomolinos = df[df['level5'] == "Arroyomolinos (Madrid)"]

media_precio_arroyomolinos = arroyomolinos['price'].mean()
print(f"La media de precios en Arroyomolinos (Madrid) es: {media_precio_arroyomolinos:.2f} €")

La media de precios en Arroyomolinos (Madrid) es: 294541.60 €

## Ejercicio 09.

In [253]:

valdemorillo = df[df['level5'] == "Valdemorillo"]
galapagar = df[df['level5'] == "Galapagar"]
media_valdemorillo = valdemorillo['price'].mean()
media_galapagar = galapagar['price'].mean()

print(f"Precio medio Valdemorillo: {media_valdemorillo:.2f} €")
print(f"Precio medio Galapagar: {media_galapagar:.2f} €")

Precio medio Valdemorillo: 363860.29 €
Precio medio Galapagar: 360063.20 €

#### Los precios medios de Valdemorillo y Galapagar no son iguales.
#### Valdemorillo tiene un precio promedio ligeramente superior/inferior a Galapagar, lo que indica diferencias en la demanda o en el tipo de inmuebles en cada población.

## Ejercicio 10

In [254]:


df['pps'] = df['price'] / df['surface']

valdemorillo = df[df['level5'] == "Valdemorillo"]
galapagar = df[df['level5'] == "Galapagar"]
pps_valdemorillo = valdemorillo['pps'].mean()
pps_galapagar = galapagar['pps'].mean()

print(f"Precio por m2 promedio Valdemorillo: {pps_valdemorillo:.2f} €/m2")
print(f"Precio por m2 promedio Galapagar: {pps_galapagar:.2f} €/m2")

Precio por m2 promedio Valdemorillo: 1317.95 €/m2
Precio por m2 promedio Galapagar: 1606.32 €/m2

#### Al analizar el precio por metro cuadrado, se observa que tampoco son iguales.
#### Aunque el precio total pueda ser similar, el tamaño de las casas varía, afectando el valor por unidad de superficie.

## Ejercicio 11

In [255]:
total_agencias = df['realEstate_name'].nunique()
print(f"El dataset contiene {total_agencias} agencias de bienes raíces.")

El dataset contiene 1821 agencias de bienes raíces.

## Ejercicio 12

In [256]:
casas_por_poblacion = df['level5'].value_counts()
poblacion_max = casas_por_poblacion.idxmax()
num_casas = casas_por_poblacion.max()

print(f"La población con más casas es {poblacion_max} con {num_casas} casas.")

La población con más casas es  Madrid Capital con 6643 casas.

## Ejercicio 13

In [257]:
cinturon_sur = ["Fuenlabrada", "Leganés", "Getafe", "Alcorcón"]

df_cinturon_sur = df[df['level5'].isin(cinturon_sur)]
df_cinturon_sur.head()

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746

## Ejercicio 14

In [258]:
variables = ['price', 'rooms', 'surface', 'bathrooms']
estadisticas = {}
for var in variables:
    media = df_cinturon_sur[var].mean()
    varianza = df_cinturon_sur[var].var()
    estadisticas[var] = {'media': media, 'varianza': varianza}

print(estadisticas)

{'price': {'media': np.float64(223094.48070562293), 'varianza': np.float64(14921367508.04902)}, 'rooms': {'media': np.float64(3.0177383592017737), 'varianza': np.float64(0.7188858892927542)}, 'surface': {'media': np.float64(111.75222363405337), 'varianza': np.float64(4263.051760316337)}, 'bathrooms': {'media': np.float64(1.633221850613155), 'varianza': np.float64(0.5717968625577321)}}

## Ejercicio 15

In [259]:
casa_mas_cara_por_poblacion = df_cinturon_sur.loc[df_cinturon_sur.groupby('level5')['price'].idxmax()]
for _, row in casa_mas_cara_por_poblacion.iterrows():
    print(f"Población: {row['level5']}, Dirección: {row['realEstate_name']}, Precio: {row['price']} €")

Población: Alcorcón, Dirección: 100 home red inmobiliaria, Precio: 950000 €
Población: Fuenlabrada, Dirección: unna madrid, Precio: 490000 €
Población: Getafe, Dirección: unna grupo inmobiliario, Precio: 1050000 €
Población: Leganés, Dirección: bafre gestion y servicios inmobiliarios, Precio: 650000 €

#### Cada población del cinturón sur tiene casas con precios máximos distintos.

## Ejercicio 16

In [260]:
df_cinturon_sur['pps'] = df_cinturon_sur['price'] / df_cinturon_sur['surface']
getafe = df_cinturon_sur[df_cinturon_sur['level5'] == "Getafe"]
alcorcon = df_cinturon_sur[df_cinturon_sur['level5'] == "Alcorcón"]
pps_getafe = getafe['pps'].mean()
pps_alcorcon = alcorcon['pps'].mean()

print(f"Precio por m2 promedio Getafe: {pps_getafe:.2f} €/m2")
print(f"Precio por m2 promedio Alcorcón: {pps_alcorcon:.2f} €/m2")

Precio por m2 promedio Getafe: 2066.31 €/m2
Precio por m2 promedio Alcorcón: 2239.30 €/m2

C:\Users\User\AppData\Local\Temp\ipykernel_7300\3074597249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cinturon_sur['pps'] = df_cinturon_sur['price'] / df_cinturon_sur['surface']

## Ejercicio 17 - Conclusiones


#### El análisis de precios y superficie muestra que no siempre las casas más grandes son las más caras, resaltandose la importancia de la ubicación y distintos factores.
#### El cinturón sur de Madrid tiene un mercado variado, con diferencias en la cantidad de casas y en los precios entre los municipios.
#### El proyecto demuestra la utilidad de limpiar y explorar los datos antes de analizarlos para obtener conclusiones más precisas y relevantes.
#### Los análisis realizados pueden servir de base para estudios de mercado y toma de decisiones en el sector inmobiliario.